include *.cfg
include *.conf
include *.md

recursive-include api *
recursive-include bigjob *
recursive-include bigjob_dynamic *
recursive-include bootstrap *
recursive-include cli *
recursive-include coordination *
recursive-include pilot * 
recursive-include scripts *
recursive-include tests * 
recursive-include util * 

include bigjob/VERSION

include bigjob_agent.conf
include bigjob.conf

include LICENSE.md
include README-CONDOR.md
include README.md

